<suite name="Playwright Demo Framework Tests - TA1 ">
    
    <parameter name="environment" value="QA"/>
    
    <listeners>
    	<listener class-name="framework.listeners.TestListener"></listener>
    </listeners>
    
    <test name="Release 1.0 Testing for AE">  
    	<!--test classes defined here-->
        <classes>
        	<class name="test.SignupTests">
	        	<methods>
	        		<include name="Test_AE001_TC01_Verify_Existing_Email_SignUp"/>
	        	</methods>
        	</class> 		
        </classes>
        
    </test>
    
</suite>
